/* **************************************************************************************************************** Section 2 Media */

/* Mobile */

@media screen and (min-width: 420px) {
    .section-2 > div {
        padding-left: 30px;
    }

    .on-section-2-img {
        padding-right: 30px;
    }
}

@media screen and (min-width: 650px) {
    .section-2 > div {
        padding-left: 70px;
    }

    .on-section-2-img {
        padding-right: 70px;
    }
}

@media screen and (min-height: 900px) {
    .section-2 > div {
        justify-content: center;
    }

    .on-section-2-img {
        margin-top: 20px;
    }
}

/* Desktop */
@media screen and (min-width: 1020px) and (max-height: 1280px) and (min-height: 500px) {
    .section-2 {
        padding-top: 100px;
    }

    .section-2 > div {
        padding: 50px 0 50px 150px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .in-section-2 {
        width: 100%;
    }

    .on-section-2-img {
        padding-right: 150px;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .on-section-2-img > img {
        width: 100%;
    }
}